# Ignore everything
*

# But not these files...
!.gitignore
!*.Rmd
# etc...

# ...even if they are in subdirectories
docs/*
!docs/*.*

data/*
!data/*.*

Rfiles/*
!Rfiles/*.R


# knitr and R markdown default cache directories
*_cache/
/cache/
.Rproj.user
.Rproj.user/*.*

